@tailwind base;
@tailwind components;
@tailwind utilities;
.nav-btn {
  @apply lg:text-lg
  sm:p-3
  sm:text-base
  font-semibold 
  cursor-pointer 
  no-underline
  font-heading;
}

.nav-btn_hover {
  @apply hover:bg-gray-200 md:hover:scale-110 md:hover:bg-white transition-transform  duration-300 ease-in-out;
}

.navbar-btn {
  @apply text-sm p-2 lg:text-lg lg:p-3  font-semibold cursor-pointer no-underline font-heading;
}

#root {
  background-color: white;
}

#root {
  @apply bg-white dark:bg-black transition-colors duration-300;
  padding: 0 !important;
}

body {
  @apply bg-white dark:bg-black transition-colors;
}

/* Hide scrollbar but keep scroll functionality */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
